.App {
  text-align: center;
  background: linear-gradient(170deg, rgba(245,236,195,1) 32%, rgba(255,214,156,1) 100%);
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headline {
  color: #005AF7;
  font-size: 2.5em;
  font-family: "Arial Black";
}

.App-link {
  color: #61dafb;
}
.navbar,
.navbar-default {
    background: linear-gradient(100deg, rgba(196,173,158,1) 52%, rgba(177,164,145,1) 100%);
    color: white;
}
#appTitle {
  font-size: 2em;
}
.container{
  background: none !important;
}
.card{
  border: none !important;
}
.audio-card{
  background: linear-gradient(180deg, rgba(144,168,154,1) 32%, rgba(224,210,170,1) 100%);
  color: white;
  border: none;
  width: 30em;
}
.filter-card{
  background: linear-gradient(180deg, rgba(223,167,97,1) 52%, rgba(236,188,155,1) 100%);
  color: white;
}
.volume-card{
  background: linear-gradient(180deg, rgba(195,180,176,1) 32%, rgba(175,186,171,1) 100%);
  color: white;
  height: 20em;
}
.equalizer-card{
  background: linear-gradient(180deg, rgba(195,180,176,1) 32%, rgba(175,186,171,1) 100%);
  color: white;
  height: 20em;
  margin-top: 1em;
}
.upload {
  opacity: 0;
  position: absolute;
  left: 10%;
  cursor: pointer;
}
p {
  font-size: larger;
  font-family: "Arial Black";
}
.cardItems {
  margin-bottom: 2rem !important;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 8px;
  background: #ffffff;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 20px;
}

.duration {
  float: right;
  margin-right: 15px;

}

.currentTime {
  margin-left: 15px;
  float: left;
  display: inline-block;
}

.progressBar {
  appearance: none;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
#Github {
  font-size: x-large;
}
#volumeIcon {
  position: absolute;
  left: 5%;

}
#songTitle {
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
#canvas {
  width: 80%;
}
.Marquee {
  width: 80%;
}
.Equalizer {
  width: 16em;
  height: 20em;
}
#durationOfSongBeginning {
  margin-top: -1.5em;
}
#durationOfSongEnd {
  margin-top: -1.5em;
}
#textInCenter {
  font-size: small ;
  font-family: "Arial Rounded MT Bold";
  text-align: justify;
  color: rgba(255, 255, 255, 0.82);
}


